.DS_Store
a.out
mainatoi.c
mainbzero.c
maincalloc.c
mainis.c
mainitoa.c
mainmemchr.c
mainmemcmp.c
mainmemcpy.c
mainmemmove.c
mainmemset.c
mainstrchr.c
mainstrdup.c
mainstrjoin.c
mainstrlcat.c
mainstrlcpy.c
mainstrlen.c
mainstrncmp.c
mainstrnstr.c
mainstrrchr.c
mainstrtrim.c
mainsubstr.c
maintestmovecpy.c
maintolower.c
maintoupper.c
test.c
testisalpha.c
todo.txt
tok